<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApplicationSettingsDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApplicationSettingsDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ApplicationSettingsDemo.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
        </ApplicationSettingsDemo.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ApplicationSettingsDemo.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>ApplicationSettingsVS</value>
            </setting>
        </ApplicationSettingsDemo.Properties.Settings>
    </applicationSettings>
</configuration>